html {
    background-color: rgb(34, 34, 34);
}

#titlecard {
    color: white;
    font-size: 32px;
    text-align: center;
    background-color: black;
    width: auto;
    height: 70px;
}

ul li {
    background-color: rgb(194, 189, 189);
    color: rgb(34, 34, 34);
    width: fit-content;
}