html {
    background-color: rgb(34, 34, 34);
}

.recipebox {
    background-color:rgb(194, 189, 189);
    margin: 0 320px 32px;
    padding: 10px 32px;
}

.titlecard,
.sectioncard {
    background-color: black;
    outline: 2px solid white;
}

.sectioncard {
    width: 20%;
    padding: .2rem 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white; 
    text-align: center; 
  
}

h1 {
    font-size: 44px;  
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subtext {
    color: white; 
    font-size: 15px;
    position: relative;
    bottom: 12px;
    text-align: center; 
}

li, h3 {
    color: rgb(34, 34, 34);
    font-family: 'Courier New', Courier, monospace;
}